* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navarea {
    height: 100px;
    display: flex;
    align-items: center;
}

.navlist {
    list-style-type: none;
    align-items: center;
    display: flex;
    gap: 10px;
    height: 100%;
    margin-bottom: 0;
    @media screen and (min-width:201px) and (max-width:991px) {
        display: none; 
    }

     a {
        color: black;
        text-decoration: none;
    }

    .btn {
        background-color: transparent;
        border: 0;
        color: black;
        
    }
}

.col-5 {
    display: flex;
    align-items: center;
    gap: 20px;

    .searching {
        position: relative;
        @media screen and (min-width:201px) and (max-width:991px) {
            display: none;
        }

        input {
            border: 1px solid #eeeeee;
            border-radius: 30px;
            padding: 10px 20px;
        }

        .search-icon {
            position: absolute;
            top: 12px;
            right: 17px;
        }

    }
    
    
}
.favorit-items {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #eeeeee;
    font-size: 19px;
    cursor: pointer;

    @media screen and (min-width:201px) and (max-width:991px) {
        display: none;
    }
}

.hamburger-menu {
    display: none;

    @media screen and (min-width:201px) and (max-width:991px) {
        display: block;
    }
}

.navbar-button {
    a {
        @media screen and (min-width:201px) and (max-width:991px) {
            display: none;
        }
    }
}

.shopping-card {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #eeeeee;
    color: #4e4e4e;
    font-size: 14px;
    cursor: pointer;
}
.firstbck{
background-image: url(https://preview.colorlib.com/theme/estore/assets/img/hero/category.jpg.webp);
width:100% ;
height: 300px;
background-position: center center;
margin-bottom: 100px;
}
.productcont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* ilk hisse */
.opsi{
    @media screen and (max-width:1201px) {
        justify-content: center;
        
        .col-8 {
            width: 90%;

        }

        .col-4 {
            width: 90%;
        }
    }
}

.container_blog {
    max-width: 1250px;
    margin: 100px auto;
}

.dateblog {
    width: 92px;
    height: 92px;
    background-color: red;
    color: #eeeeee;
    border-radius: 5px;
    position: absolute;
    left: 30px;
    bottom: -30px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 22px;

    }
}

.blogimg {
    position: relative;

    img {
        width: 100%;
    }
}

.blogcont {
    margin: 80px 30px;
}

.firstblog {
    box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3);
    width: 100%;
}

.comentblog {
    height: 40px;

    ul {
        list-style-type: none;
        display: flex;
        gap: 30px;
        height: 100%;

        li {
            display: flex;
            gap: 10px;
            text-align: center;
            height: 100%;

        }
    }
}
.inputse {
    width: 320px;
    height: 55px;
    border: 0.8px;

}

.searchbtn {
    background-color:#2577fd ;
    width: 320px;
    height: 55px;
    color: white;
border: 0;
}
.searchbtn:hover{
    background-color: transparent;
    color: black;
    border: 1px solid red;
}


.searchinput {
    padding: 30px;
    background-color:#fbf9ff;
display: flex;
flex-direction: column;
gap: 20px;
}

.categorylist{
    padding: 30px;
    background-color:#fbf9ff;
    font-size: 20px;
    ul{
        list-style-type: none;
        padding: 0!important;
    }
}
.aside{
    gap: 40px;
    display: flex;
flex-direction: column;

}
.post{
    display: flex;
    gap: 20px;
}
.listpost{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.listtags{
display: flex;
gap: 10px;
flex-wrap: wrap;
   li{
    button{
        border: 1px solid rgb(193, 193, 193);
        background-color: white;
    }
   }
}
.listimgs{
    display: flex;
row-gap: 20px;
column-gap: 30px;
flex-wrap: wrap;
li{
    img{
        width: 110%;
    }
}
}
.searchsubs{
    padding: 30px;
    background-color:#fbf9ff;
display: flex;
flex-direction: column;
gap: 20px;
}
.p3{


}
.pat{
    padding: 40px;
    background-color:#ffffff;
    border: 40px solid #f3f0fa;
}
.logosol{
    display: flex;
    gap: 10px;
    text-align: center;
}
.logoss{
display: flex;
justify-content:space-between ;

}
.logosag{
    
        gap: 20px;
        display: flex;

}
.prev{
    display: flex;
    gap: 10px;
    align-items: center;
}
.prevmini{
    display: flex;
    flex-direction: column;
justify-content: center;
}
.next{
    display: flex;
    gap: 10px;
    align-items: center;
}
.preview{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.milan{
    height: 170px;
    padding: 30px;
    display: flex;
    align-items: center;
    background-color: #fbf9ff;
    gap: 20px;
    margin: 40px 0;
}
.manscomment{
    display: flex;
    align-items: center;
    gap: 20px;
}
.comments{
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 80px;
}
.comrep{
    display: flex;
    justify-content: space-between;
}
.com{
    display: flex;
    flex-direction: column;
    
}
.datecomment{
    padding-left: 120px;
}
textarea{
    width: 100%;
    height: 180px;
    border: 1px solid #e5e6e9;
}
.inp1{
    width: 48%;
    height: 50px;
    border: 1px solid #e5e6e9;
}
.inputlar{
    display: flex;
    justify-content: space-between;
}
.inp2{
    width: 100%;
    height: 50px;
    border: 1px solid #e5e6e9;
}
.contactleft{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 80px;
}
.send{
    width: 220px;
    height: 50px;
    background-color: #0d6efd;
    color: #eeeeee;
    border: 0;
    border-radius: 4px;
}
.send:hover{
    background-color: transparent;
    color: black;
    border: 1px solid red;
}









/* son hisse  */

.container_info {
    li {
        list-style-type: none;
    }

    .row {
        @media screen and (max-width:661px) {
            justify-content: center;
        }
    }

    .col-8 {
        @media screen and (max-width:661px) {
            width: 80%!important;
            text-align: center;
        }
    }

    .col-4 {
        @media screen and (max-width:661px) {
            width: 80%!important;
            justify-content: center;
        }
    }
}

.footinf {
    gap: 15px;
    display: flex;
    flex-direction: column;

    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;

        a {
            text-decoration: none;
        }
    }
}

.footer {
    .row {
        @media screen and (max-width:991px) {
            justify-content: center;
            margin-left: 20px;
        }

        @media screen and (max-width:601px) {
            justify-content: center;
            margin-left: 0px;
        }
    }
}


.footinf{
    ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    @media screen and (max-width:991px) {
        width: 48%!important;
    }

    @media screen and (max-width:661px) {
        width: 60%!important;
    }
}

.fdd {
    float: right;
}

.icons {
    display: flex;
    gap: 10px;
}

.container_info {
    max-width: 1100px;
    margin: 100px auto;
}